*{
    padding: 0;/* espacamento interno: 0; */
    margin: 0;/* margem externa: 0; */
    box-sizing: border-box;/* tamanho-da-caixa: caixa-de-fronteira; */
    font-family: 'Montserrat', sans-serif;
}

:root {
    --font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family);
    /*color: var(--primary-color);*/
}
    
html,body{
    height: 100%;/* altura: 100% */
}

@font-face{
    src:url('');
    font-family: "Open Sans";
}

/* starts auxiliary class */
.center{
    width: 100%;
    max-width: 1280px;
    padding: 0 6%;
    margin: 0 auto;/* margem externa: vertical 0 horizontal automatica */
}

.clear{
    clear: both;/* limpar: ambos */
}

a{
    text-decoration: none;
    color: white;
}

section{
    padding: 40px 0;
    text-align: center;
}

.section__title{
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    font-weight: 600;
    padding: 20px 0 60px 0  ;
}

.section-differentials{
    /*margin: 40px 0;*/
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}


    .differentials__single{
        width: 33%;
        padding: 30px;
        min-height: 280px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: inherit;
        box-shadow: 0px 0px 10px 2px #ffffff57; 
        border-radius: 10px;
    }


    .section-two .differentials__single h3.icon{
        text-align: center;
        font-size: 55px;
    }

    .differentials__single__text{
        display: flex;
        flex-direction: column;
        gap: 20px;  
    }

.arrow-down{
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-image: url('../images/arrow.png');
    position: relative;
    top: 70px;
    left: 50%;
    margin-left: -30px;
    border: 1px solid white;
    border-radius: 50%;
}
/* ends auxiliary class */


/* starts progress bar */
.progress-bar {
    width: 100%;
    background-color: #bbbbbb45;
    height: 10px;
    position: fixed;
    display: none;
    top: 0;
    z-index: 9999;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #7d1dd6;
    transition: width 0.3s ease-in-out;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* ends progress bar*/

/* starts language select*/
.language-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-size: 30px; /* Tamanho fixo para as bandeiras */
    background-position: 10px center; /* Posicionamento das bandeiras */
    padding-left: 50px; /* Espaçamento para as bandeiras */
    border: none;
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-size: 16px;

    outline: none;
    background-color: transparent;
    color: white;
}

.language-select:hover {
    background-color: #323665;
}

.language-select option {
    padding: px!important;
}

.language-select option[data-image] {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
    padding-left: 50px;
}
/* ends language select */

/* starts header class */
.header{/* seletor de classe = (.); nome da classe = (header); sintax de declaracao = ({})*/
    width: 100%;/* largura: 100%; */
    padding: 15px 0;
    background-color: #212343;/* cor-de-fundo: valor hexagonal 212343 */
    align-items: center;
    display: flex;
}

.header .center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 22px; 
    color: white;
}

.header h1 strong{
    color: #7d1dd6;
}

.header img{/* seletor de classe = (.); nome da classe = (header); nome da tag = (img); sintax de declaracao = ({})*/
    margin: 19px;/* margem externa: 19px em todos os lados */
}
/* ends header class */

/* starts banner class */
.banner{/* seletor de classe = (.); nome da classe = (banner); sintax de declaracao = ({})*/
    width: 100%;/* largura: 100% com base na largura do elemento pai */ 
    background-image: url('../images/header_bg.png');/* imagem-de-fundo: url('local da imagem') */ 
    background-size: cover;/* tamanho-de-fundo */ 
    background-position: center;/* posição-de-fundo */ 
    padding: 60px 0;
}

    .banner > .center{
        height: 100%;/* altura: 100% com base na altura elemento pai */
    }

        .banner__text{
            float: left;
            top: 60px;
            position: relative;
            width: 50%;
            padding: 20px;
            background-color: rgba(33,35,67,0.7);
        }

            .banner__text h1{
                color: white;
                padding-bottom: 20px;
                text-transform: uppercase;
                font-size: 21px;
            }

            .banner__text p{
                color: white;
                padding: 10px 0;
                text-align: justify;    
                font-size: 17px;/* tamanho-da-fonte: 17px */
                margin: 18px 0;/* margem externa: 18px vertical(cima/baixo) 0px horizontal(direita/esquerda) */
            }
            
                .banner__text p:first-of-type{
                font-weight: 500;
                font-size: 18px;  
                    text-align: inherit;
                }

        .banner__form{/* elemento com a classe form */
            width: 400px;/* largura: 400px  */
            height: 100%;/* altura: 100% com base na altura elemento pai */
            background-color: white;/* cor-de-fundo: branco*/
            position: relative;/* posicao: relativa */
            float: right;/* flutuação: direita */
            padding: 27px;/* espaçamento interno: 15px */
            border-radius: 3px;
            box-shadow: 2px 2px 25px 0px rgba(134, 134, 134, 0.5);
            background-clip: padding-box;
        }

            .banner__form h2{/* classe form elemento h2 */
                font-weight: normal;/* familina*/
                color: #212343;/* cor: #9999999 */
                font-size: 18px;/* tamanho da fonte: 21px */
            }

            form .form__input{/* classe form__input */
                margin-top: 20px;/* margem-superior externa: 20px */
            }

                form .form__input label{/* classe form__input elemento label */
                    display: inline-block;/* exibicao: block-em-linha*/
                    width: 100%;/* largura: 100% */
                    font-size: 17px;/* tamanho-da-fonte: 17px */
                    color: #212343;/* cor: #bbbbbbb */
                    padding: 5px;/* espacamento interno: 5px todos os lados */
                }
                
                form .form__input input[type=text],input[type=email],input[type=tel]{/* classe form__input elemento entrada[tipo=texto], e elemento entrada[tipo=email] */
                    width: 100%;/* largura: 100% com base na largura do elemento pai */
                    height: 50px;/* altura: 50px */
                    outline: none;/* contorno: nenhum*/
                    border: 1px solid #21234370;/* borda: 1px solida cor #ccc */
                    padding-left: 6px;/* espacamento-esquerdo interno: 6px */
                    border-radius: 8px;
                }
                    
               

            form button.form__submit-button{/* classe form classe botao-enviar*/
                border: 0;/* borda: 0 */
                margin: 30px auto 0 auto;
                outline: none;
                width: 50%;
                border-radius: 50px;
            }

            form button.form__submit-button input[type=submit]{/* classe form classe botao-enviar elemento entrada[tipo=enviar] */
                width: 100%;/* largura: 280px */
                height: 45px;/* altura: 56px */
                border: 1px solid #ccc;/* borda: 1px solida cor #ccc */
                border-radius: 50px;
                color: white;/* color: branco */
                background-color: #363A6D;/* cor-de-fundo: #363A6D */
                font-size: 16px;/* tamanho da fonte: 25px */
                text-transform: uppercase;
                cursor: pointer;/* cursor: ponteiro */
            }

            form button .form__submit-button input[type=submit]:hover{/*  classe form classe botao-enviar elemento entrada[tipo=enviar]:ao flutuar/deslizar */
                background-color: #323665;/* cor-de-fundo: #323665 */
            }

            p.warning{
                font-size: 12px;
            }
            
/* ends banner class */

/* starts section-one class */

    .section-one{
        background-color: white;
    }

    .section-one h2{
        color: #212343;
    }
    .section-one p{
        color: #212343;
    }


/* ends section-one class */

/* starts section-one class */
.section-two{
    background-color: #212343;
    color: white;
}


/* ends section-one class */

.section-three{
    color: #212343;
}
    .section-three .section__title{
        color: #212343  ;
    }
    
    .section-three .section-differentials{
        padding-bottom: 60px;
    }

        .section-three .differentials__single{
            box-shadow: 0px 0px 10px 2px #a5a5a557; 
        }

        
            .section-three  .differentials__single h3.icon{
                color: #212343;
                font-size: 55px;
            }



/* starts footer class */
footer.footer   {
    background-color: #212343;
    border-top: 4px solid #888888; 
    color: white;
    padding: 15px 7%;
    text-align: center;
}

    .footer__text{
        padding: 7.5px 0;
        color: white;
    }
/* ends footer class */

/* starts 768px responsive design  */
@media screen and (max-width:768px){
    .header{
        text-align: center;
    }
    
    .banner > .center{
        padding: 0 10%;
    }
    .banner__text{
        float: none;
        display: inline-block;
        width: 100%;
        top: 0;
    }

    .banner__form{
        width: 100%;
        float: none;
        display: inline-block;
        margin-top: 50px;
        padding: 20px;
    }

    .section-differentials{
        flex-direction: column;
        gap: 50px;
    }

    .differentials__single{
        width: 80%;
        margin: 0 auto;
    }
}
/* ends 768px responsive design  */

/* starts 768px responsive design  */
@media screen and (max-width:440px){
    .header .center{
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width:360px){
    .header{
        height: 124px;
    }
    
    .language-select{
    top: 75px!important;
    }  

}